<table>
    <tr>
        <th>Book Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th># of Pages</th>
        <th>Finished?</th>
        <th class="thlink">Edit</th>
        <th class="thlink">Delete</th>
    </tr>
    <tr *ngFor="let book of books">
        <td>
            <span *ngIf="curEdit == book.id; else elseTitle"><input [(ngModel)]="curTitle"/></span>
            <ng-template #elseTitle>{{book.title}}</ng-template>
        </td>
        <td>
            <span *ngIf="curEdit == book.id; else elseAuthor"><input [(ngModel)]="curAuthor"/></span>
            <ng-template #elseAuthor>{{book.author}}</ng-template>
        </td>
        <td>
            <span *ngIf="curEdit == book.id; else elseIsbn"><input type="text" [(ngModel)]="curIsbn"/></span>
            <ng-template #elseIsbn>{{book.isbn}}</ng-template>
        </td>
        <td>
            <span *ngIf="curEdit == book.id; else elsePages"><input type="text" [(ngModel)]="curPages"/></span>
            <ng-template #elsePages>{{book.pages}}</ng-template>
        </td>
        <td>
            <span *ngIf="curEdit == book.id; else elseFinished"><input type="checkbox" [(ngModel)]="curFinished"/></span>
            <ng-template #elseFinished>{{book.finished}}</ng-template>
        </td>
        <td class="thlink">
            <span *ngIf="curEdit != book.id; else elseEdit"><a (click)="edit(book.id)" title="edit">X</a></span>
            <ng-template #elseEdit><button (click)="saveEdit()">Save</button></ng-template>
        </td>
        <td class="thlink"><a (click)="delete(book)" title="delete">X</a></td>
    </tr>
</table>